<!doctype html>
<html lang="en">
<head>
  <title>Actualización de artículo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="estilos.css">

</head>
<body>
  <div class="header"><header><img class="logo" src="img/logo.png" alt=""></header> </div>
  <nav class="menu">
    <p class="navi"><a href="https://matuthe.github.io/23036Grupo19/index.html">INICIO</a></p>
        <p class="navi"><a href="https://matuthe.github.io/23036Grupo19/htlm/galeria.html">GALERIA</a></p>
        <p class="navi"><a href="https://matuthe.github.io/23036Grupo19/faq.html">FAQ</a></p>
        <p class="navi"><a href="https://matuthe.github.io/23036Grupo19/contacto.html">CONTACTO</a></p>
</nav>

  <header id="header">
    <br>
    <h1>Actualización de artículo - SportAr</h1>
  </header>
  <main>
    <div class="container" id="app">
      <form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
      <div class="mb-3">
        <label for="id">Id</label>
        <input type="number" name="id" id="id" disabled v-model="id" >
      </div>
      <div class="mb-3">
        <label for="nombre">Título</label>
        <input type="text" name="titulo" id="titulo" v-model="titulo">
      </div>
      <div class="mb-3">
        <label for="nombre">Descripción</label>
        <input type="text" name="descripcion" id="descripcion" v-model="descripcion">
      </div>
      <div class="mb-3">
        <label for="nombre">Categoría</label>
        <input type="text" name="category" id="category" v-model="category">
      </div>
      <div class="mb-3">
        <label for="nombre">Subcategoría</label>
        <input type="text" name="subcategory" id="subcategory" v-model="subcategory">
      </div>
      <div class="mb-3">
        <label for="precio">Precio</label>
        <input type="number" name="precio" id="precio" v-model="precio">
      </div>
      <div class="mb-3">
        <label for="stock">Cantidad</label>
        <input type="number" name="cantidad" id="cantidad" v-model="cantidad">
      </div>
      <div class="mb-3">
        <label for="stock">Cuotas</label>
        <input type="number" name="cuotas" id="cuotas" v-model="cuotas">
      </div>
      <div class="mb-3">
        <label for="stock">Descuento</label>
        <input type="number" name="descuento" id="descuento" v-model="descuento">
      </div>
      <div class="mb-3">
        <label for="image">Imagen</label>
        <input type="text" name="image" id="image" v-model="image">  
        <img width="100"   :src="image" alt="">
      </div>
      <button type="button" class="btn btn-success" v-on:click="modificar()">Guardar cambios</button>
      </form>
    </div>
  </main>
  <footer class="footer">
    <p class="derechos">Página creada por el grupo 19, comision 23036 Codo a Codo. Todos los derechos reservados &copy;</p>
</footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"> </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"> </script>
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/articulo_editar.js"></script>
</body>
</html>